.dailyinfo{
    color: #fff;
    width: 20%;
    height: auto;
}

.dailyinfo__overall > h3 {
    font-size: 25px;
    font-family: sans-serif;
}

.dailyinfo__overall > p {
    font-size: 16px;
    font-family: sans-serif;
    margin: 5px 0 1vh 0;
}

.dailyinfo__main > h2 {
    font-size: 40px;
}

.dailyinfo__main__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px){
  .dailyinfo{
        color: #fff;
        width: 20%;
        height: auto;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 25px;
        font-family: sans-serif;
    }
    
    .dailyinfo__overall > p {
        font-size: 16px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 40px;
    }
    
    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 1024px){
  .dailyinfo{
        color: #fff;
        width: 20%;
        height: auto;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 25px;
        font-family: sans-serif;
    }
    
    .dailyinfo__overall > p {
        font-size: 16px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 40px;
    }
    
    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 976px){
    .dailyinfo{
        color: #fff;
        width: 20%;
        height: auto;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 25px;
        font-family: sans-serif;
    }
    
    .dailyinfo__overall > p {
        font-size: 16px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 40px;
    }
    
    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }
    
}
@media screen and (max-width: 767px){
    .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }

    .location_icon {
        margin-left: -120%;
    }
}
@media screen and (max-width: 501px){
    .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }
    
    .location_icon {
        margin-left: -103%;
    }
}
@media screen and (max-width: 460px){
  .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }

    .location_icon {
        margin-left: -100%;
    }
}
@media screen and (max-width: 400px){
    .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }

    .location_icon {
        margin-left: -90%;
    }
} 

@media screen and (max-width: 370px){
    .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-top: -15px; */
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }

    .location_icon {
        margin-left: -60%;
    }
} 
@media (min-width: 300px) and (max-width: 330px){
    .dailyinfo{
        color: #fff;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .dailyinfo__overall {
        height: 11vh;
    }

    .dailyinfo__icon > .sunny {
        font-size: 40px !important;
    }
    
    .dailyinfo__overall > h3 {
        font-size: 16px;
        font-family: sans-serif;
      
    }
    
    .dailyinfo__overall > p {
        font-size: 14px;
        font-family: sans-serif;
        margin: 5px 0 1vh 0;
    }
    
    .dailyinfo__main {
        height: 11vh;
    }

    .dailyinfo__main > h2 {
        font-size: 20px;
    }
    
    .dailyinfo__main >  h2 > span {
        font-size: 20px;
    }

    .dailyinfo__main__item {
        display: flex;
        align-items: center;
    }

    .location_icon {
        margin-left: -20%;
    }
} 