.search {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search_int {
    width: 500px;
    border-radius: 20vh;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    position: relative;
}

.form {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    border-radius: 20vh;
    color: #fff;
    height: 40px;
    flex: 1;
    text-indent: 20px;
    transition: all 0.3s;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    position: relative;
}

.form:hover{
    box-shadow: 0 0 0 0  transparent;
}

input {
    border: none;
    outline: none;
    background-color: rgba(221, 221, 221, 0.534);
    font-size: 20px;
    border-radius: 20vh;
    color: rgb(0, 0, 0);
    height: 40px;
    flex: 1;
    text-indent: 20px;
    transition: all 0.3s;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.801);
}

.search_icon {
    width: 60px;
    height: 40px;
    color: rgba(255, 255, 255, 0.801);
    font-size: 3px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

/* @media screen and (max-width: 1200px){
  
}
@media screen and (max-width: 1024px){
  
}*/ 
@media screen and (max-width: 976px){
    .search {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .search_int {
        width: 500px;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        position: relative;
    }
    
    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
    }
    
    .search_icon {
        width: 60px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        font-size: 3px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@media screen and (max-width: 916px){
  .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
}
@media screen and (max-width: 501px){
  .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
}
@media screen and (max-width: 460px){
  .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        /* text-indent: 20px; */
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
} 
@media screen and (max-width: 400px){
  .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
}
@media screen and (max-width: 370px){
    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
}


@media (min-width: 300px) and (max-width: 330px){
    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        top: 3vh;
    }
    
    .search_int {
        width: 80%;
        margin: 0 auto;
        border-radius: 20vh;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 40px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s; 
    }
    
    .form:hover{
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.2);
        height: 35px;
    }
    
    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        border-radius: 20vh;
        color: #fff;
        height: 35px;
        flex: 1;
        text-indent: 20px;
        transition: all 0.3s;
        width: 80%;
    }
    
    input::placeholder {
        color: rgba(216, 211, 211, 0.801);
        font-size: 15px;
    }
    
    .search_icon {
        width: 40px;
        height: 40px;
        color: rgba(216, 211, 211, 0.801);
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        outline: none;
    }
} 